asset_tracking.json
[{"id":"8bf99ba1.7384a8","type":"tab","label":"asset_tracking","disabled":false,"info":""},{"id":"e94b9c00.e316d","type":"Notified_IM","z":"8bf99ba1.7384a8","server":"3c6b498c.2449ee","name":"Message notification","filter":"","filterContact":"","filterCompany":"","ignorechat":false,"ignoregroupchat":false,"x":130,"y":160,"wires":[["2be5e024.4bcac8","3ebcf1b1.d9390e"]]},{"id":"6ac3717f.8534c","type":"dialogflowv2","z":"8bf99ba1.7384a8","dialogflow":"37fa3ed7.4d8162","language":"en","debug":true,"variable":"topic","x":520,"y":940,"wires":[["952f09c6.b0796","a4bcfd09.dbaec"]]},{"id":"952f09c6.b0796","type":"debug","z":"8bf99ba1.7384a8","name":"dialogflow response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow","targetType":"msg","x":740,"y":1020,"wires":[]},{"id":"6c5a9346.505d7c","type":"change","z":"8bf99ba1.7384a8","name":"preparing dialogflow passage","rules":[{"t":"set","p":"payload","pt":"msg","to":"messageContent","tot":"flow"},{"t":"set","p":"destJid","pt":"msg","to":"destJid","tot":"flow"},{"t":"set","p":"_msgid","pt":"msg","to":"destJid","tot":"flow"},{"t":"set","p":"OAS_siteID","pt":"msg","to":"OAS_siteID","tot":"flow"},{"t":"set","p":"OAS_access_token","pt":"msg","to":"OAS_access_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":940,"wires":[["6ac3717f.8534c"]]},{"id":"2be5e024.4bcac8","type":"debug","z":"8bf99ba1.7384a8","name":"notification content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":60,"wires":[]},{"id":"e8577636.259028","type":"debug","z":"8bf99ba1.7384a8","name":"authentification result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":420,"wires":[]},{"id":"c759e078.7a971","type":"authenticate","z":"8bf99ba1.7384a8","name":"Authenticate","email":"lucas.charpentier@imt-atlantique.net","password":"Serez@78","appid":"5dcac9baeaa5b8329fbb5bad","appsecret":"7e3075854a1f4700800d3cdfb52557fa993d545c1dbd1522247c3009a1e8e73d","x":210,"y":340,"wires":[["e8577636.259028","849f8899.2db318"]]},{"id":"a9473976.609b48","type":"debug","z":"8bf99ba1.7384a8","name":"site obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":420,"wires":[]},{"id":"947e0aa9.24aaa8","type":"debug","z":"8bf99ba1.7384a8","name":"building floor obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1590,"y":280,"wires":[]},{"id":"ebfcf6cb.42db18","type":"get_buildingsandfloors","z":"8bf99ba1.7384a8","name":"","x":1210,"y":340,"wires":[["947e0aa9.24aaa8","7d7c1711.66e56"]]},{"id":"9e8b13fe.68f4","type":"get_allassets","z":"8bf99ba1.7384a8","name":"","x":1180,"y":660,"wires":[["4bcc7a3.0578d04","fec0b7f6.8b1118"]]},{"id":"4bcc7a3.0578d04","type":"debug","z":"8bf99ba1.7384a8","name":"asset obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":600,"wires":[]},{"id":"aff6202f.7d2e38","type":"function","z":"8bf99ba1.7384a8","name":"find site id from name","func":"flow.set(\"OAS_siteID\",msg.payload[0].id);\n/*msg.payload.forEach(site => {\n   if(site.name==\"ALE BREST S18\"){\n       flow.set(\"OAS_siteID\",site.id);\n       return msg;\n   }\n});*/\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":340,"wires":[["ebfcf6cb.42db18"]]},{"id":"7d7c1711.66e56","type":"function","z":"8bf99ba1.7384a8","name":"prepare buildings floor info update","func":"// First query (retrieves buildings)\nmsg.topic = \"INSERT INTO building(id,name,site) VALUES\";\nmsg.payload.forEach(building => {\n    msg.topic += \"('\" + building.id + \"','\" + building.name + \"','\" + building.site + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\n// Second query (retrieves floors)\nmsg.topic2 = \"INSERT INTO floor(id,name,building,floor_number) VALUES\";\nmsg.payload.forEach(building => {\n    building.floors.forEach(floor => {\n        msg.topic2 += \"('\" + floor.id + \"','\" + floor.name + \"','\" + floor.building + \"','\" + floor.floorNumber + \"'),\";\n    });\n});\nmsg.topic2 = msg.topic2.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":340,"wires":[["54fb3d06.864b6c"]]},{"id":"54fb3d06.864b6c","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates building info","x":1920,"y":340,"wires":[["f387abe9.c5541"]]},{"id":"fec0b7f6.8b1118","type":"function","z":"8bf99ba1.7384a8","name":"prepare asset info update","func":"msg.topic = \"INSERT INTO asset(id,name,site,category,mac_address) VALUES\";\nmsg.payload.forEach(asset => {\n    msg.topic += \"('\" + asset.id + \"','\" + asset.name + \"','\" + asset.site + \"','\" + asset.assetcategory.name + \"','\" + asset.tag.macAddress + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":660,"wires":[["4b48a8b1.f7d2d"]]},{"id":"4b48a8b1.f7d2d","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates asset info","x":2000,"y":660,"wires":[["6c5a9346.505d7c"]]},{"id":"566fd7ca.c82388","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE floor(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),building VARCHAR(255),floor_number INTEGER);","name":"create table floor","x":2610,"y":160,"wires":[["c759e078.7a971"]]},{"id":"6435c8ea.6872f","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE asset(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),site VARCHAR(255),category VARCHAR(255),mac_address VARCHAR(255));","name":"create table asset","x":1510,"y":160,"wires":[["d357eb61.461378"]]},{"id":"8ffe4e3.1bea63","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE building(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),site VARCHAR(255));","name":"create table building","x":2040,"y":160,"wires":[["86ab61e.ec02aa"]]},{"id":"3ebcf1b1.d9390e","type":"change","z":"8bf99ba1.7384a8","name":"register user id and content","rules":[{"t":"set","p":"destJid","pt":"flow","to":"payload.fromJid","tot":"msg"},{"t":"set","p":"messageContent","pt":"flow","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["a0cb21fe.c4878"]]},{"id":"35731a20.873b6e","type":"Send_IM","z":"8bf99ba1.7384a8","server":"3c6b498c.2449ee","name":"Response description","destJid":"","x":1940,"y":1700,"wires":[]},{"id":"52f8cb2e.3f96e4","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS asset;","name":"reset table asset","x":1240,"y":160,"wires":[["6435c8ea.6872f"]]},{"id":"d357eb61.461378","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS building;","name":"reset table buliding","x":1760,"y":160,"wires":[["8ffe4e3.1bea63"]]},{"id":"86ab61e.ec02aa","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS floor;","name":"reset table floor","x":2320,"y":160,"wires":[["566fd7ca.c82388"]]},{"id":"a4bcfd09.dbaec","type":"function","z":"8bf99ba1.7384a8","name":"recover answer","func":"// set content of the answer in the flow to retrieve it later\nmsg.payload = {};\nmsg.payload.content=msg._dialogflow.fulfillmentText;\nmsg.payload.destJid=msg.destJid;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":940,"wires":[["79fbcd51.1ec5bc","8dae8b6d.c7a7c"]]},{"id":"79fbcd51.1ec5bc","type":"function","z":"8bf99ba1.7384a8","name":"filter answer uncomplete","func":"if (msg._dialogflow.intent.displayName!==\"Tracking_asset_intent\" || msg._dialogflow.allRequiredParamsPresent===false) {\n    return msg;\n}","outputs":1,"noerr":0,"x":1070,"y":940,"wires":[["2c0a2b9b.a2013c","afcac2a3.f2ddc"]]},{"id":"afcac2a3.f2ddc","type":"Send_IM","z":"8bf99ba1.7384a8","server":"3c6b498c.2449ee","name":"Response uncomplete","destJid":"","x":1380,"y":940,"wires":[]},{"id":"2c0a2b9b.a2013c","type":"debug","z":"8bf99ba1.7384a8","name":"chatbot uncomplete full response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1420,"y":880,"wires":[]},{"id":"2ba12cd5.2daae4","type":"get_sites","z":"8bf99ba1.7384a8","name":"Site recuperation","x":650,"y":340,"wires":[["aff6202f.7d2e38","a9473976.609b48"]]},{"id":"c03e6652.dc0078","type":"Send_IM","z":"8bf99ba1.7384a8","server":"3c6b498c.2449ee","name":"Response  no item","destJid":"","x":2750,"y":1160,"wires":[]},{"id":"a0894b7.7105738","type":"debug","z":"8bf99ba1.7384a8","name":"chatbot no item full response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2780,"y":1080,"wires":[]},{"id":"5f7be058.3394e8","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE position(mac_address VARCHAR(255) PRIMARY KEY,floor_id VARCHAR(255),latitude VARCHAR(255),longitude VARCHAR(255));","name":"create table position","x":980,"y":160,"wires":[["52f8cb2e.3f96e4"]]},{"id":"a0cb21fe.c4878","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS position;","name":"reset table position","x":720,"y":160,"wires":[["5f7be058.3394e8"]]},{"id":"964f4661.f69b58","type":"function","z":"8bf99ba1.7384a8","name":"manage answer","func":"flow.OAS_siteID = msg.OAS_siteID;\nglobal.OAS_access_token = msg.OAS_access_token;\nmsg.topic = \"SELECT id,mac_address,name FROM asset WHERE category='\" + msg._dialogflow.parameters.fields.asset_type.stringValue + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1160,"wires":[["f4145a7a.14a31","abda11dd.7b44e8"]]},{"id":"f4145a7a.14a31","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"SELECT name FROM asset_category","name":"list mac address","x":1550,"y":1160,"wires":[["4985aaf3.92fb2c","73370b3c.066684","616580dc.c1acf"]]},{"id":"940d54ef.994188","type":"latest_locationofasset","z":"8bf99ba1.7384a8","name":"recover locations","x":1230,"y":1420,"wires":[["528a1cff.ef45f4","f48f935a.1463e8"]]},{"id":"616580dc.c1acf","type":"function","z":"8bf99ba1.7384a8","name":"preparation for getting asset locations","func":"msg.assets = msg.payload;\nif (typeof msg.assets !=\"undefined\" && msg.assets.length!==0){\n    flow.OAS_siteID = msg.OAS_siteID;\n    global.OAS_access_token = msg.OAS_access_token;\n    // config for position getter\n    msg.macAddress = \"\";\n    msg.assets.forEach(asset => {\n        msg.macAddress += asset.mac_address + ',';\n    });\n    msg.macAddress = msg.macAddress.slice(0,-1); // deleting last symbol\n    msg.timeWindow = \"60\";\n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":1420,"wires":[["940d54ef.994188","3a0f6d78.4772aa"]]},{"id":"528a1cff.ef45f4","type":"function","z":"8bf99ba1.7384a8","name":"position insertion preparation","func":"msg.topic = \"INSERT INTO position(mac_address,floor_id,latitude,longitude) VALUES\";\nvar noSolution = true;\n// we prepare one sql request for each tag whose position can be found\nmsg.payload.inputs.macAddresses.forEach(tag => {\n    // tag is the string value of each mac address\n    // we only keep the most recent data\n    var floor_id = \"\";\n    var latitude = \"\";\n    var longitude = \"\";\n    var timestamp = 0;\n    // we only take into account data whose position has been retrieved\n    if (tag in msg.payload.metrics){\n        // data is sorted by floor that has been visited recently so we compare the most recent timestamp of each floor to keep only the last one\n        msg.payload.metrics[tag].forEach(floor => {\n            var k = floor.data.length - 1; //k is the position in the array of the most recent timestamp for each floor\n            if (floor.data[k].timestamp > timestamp) {\n                floor_id = floor.floorId;\n                latitude = floor.data[k].lat;\n                longitude = floor.data[k].long;\n                timestamp = floor.data[k].timestamp;\n            }\n        });\n        msg.topic +=  \"('\" + tag + \"','\" + floor_id + \"','\" + latitude + \"','\" + longitude + \"'),\";\n        noSolution=false;\n    }\n});\nif (noSolution) {\n    msg.topic=\"\";\n} else {\n    msg.topic = msg.topic.slice(0,-1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":1420,"wires":[["5f0dd992.9c0fe8","1a1913b9.6aeedc"]]},{"id":"5f0dd992.9c0fe8","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"position insertion","x":1850,"y":1420,"wires":[["22f721e1.311ea6"]]},{"id":"8dae8b6d.c7a7c","type":"function","z":"8bf99ba1.7384a8","name":"filter answer complete","func":"if (msg._dialogflow.intent.displayName===\"Tracking_asset_intent\" && msg._dialogflow.allRequiredParamsPresent) {\n    return msg;\n}","outputs":1,"noerr":0,"x":1070,"y":1160,"wires":[["964f4661.f69b58"]]},{"id":"4985aaf3.92fb2c","type":"debug","z":"8bf99ba1.7384a8","name":"mac address output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1910,"y":1220,"wires":[]},{"id":"73370b3c.066684","type":"function","z":"8bf99ba1.7384a8","name":"Filter when no mac_addresses","func":"if (typeof msg.payload ==\"undefined\" || msg.payload.length===0){\n    return msg;\n}","outputs":1,"noerr":0,"x":1940,"y":1160,"wires":[["b28b79f7.a7206"]]},{"id":"b28b79f7.a7206","type":"change","z":"8bf99ba1.7384a8","name":"initialise response no item","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Sorry, no item of this category is available.","tot":"str"},{"t":"set","p":"payload.destJid","pt":"msg","to":"destJid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2420,"y":1160,"wires":[["c03e6652.dc0078","a0894b7.7105738"]]},{"id":"abda11dd.7b44e8","type":"debug","z":"8bf99ba1.7384a8","name":"mac address query preparation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","x":1680,"y":1100,"wires":[]},{"id":"f48f935a.1463e8","type":"debug","z":"8bf99ba1.7384a8","name":"location retrieval","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1530,"y":1360,"wires":[]},{"id":"3a0f6d78.4772aa","type":"debug","z":"8bf99ba1.7384a8","name":"preparation for getting location","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1360,"wires":[]},{"id":"1a1913b9.6aeedc","type":"function","z":"8bf99ba1.7384a8","name":"redirection when no position available","func":"if (msg.topic===\"\"){\n    msg.payload = {\n        content: \"Some assets corresponding to your request have been found, but we cannot access their locations. They are : \",\n        destJid: msg.destJid\n    };\n    msg.assets.forEach(asset => {\n        msg.payload.content += asset.name + \",\";\n    });\n    msg.payload.content = msg.payload.content.slice(0,-1); // delete last symbol\n    return msg;\n}","outputs":1,"noerr":0,"x":1980,"y":1320,"wires":[["aee517bd.267a58"]]},{"id":"22f721e1.311ea6","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"SELECT a.name AS asset,f.id AS floor_id,f.name AS floor_name,f.floor_number AS floor_number,b.id AS building_id,b.name AS building_name,p.latitude AS latitude,p.longitude AS longitude FROM position AS p JOIN asset AS a ON p.mac_address=a.mac_address JOIN floor AS f ON f.id=p.floor_id JOIN building AS b ON b.id=f.building;","name":"recover assets","x":420,"y":1700,"wires":[["81e1d842.d1dc28","c2328543.8b76e"]]},{"id":"5327d0ea.399ae8","type":"function","z":"8bf99ba1.7384a8","name":"Description of object","func":"var asset = msg.payload;\nmsg.payload.content = \"The object is \" + asset.asset + \" and is located in \" + asset.building_name + \" - \" + asset.floor_name + \" (floor \" + asset.floor_number + \") \" + \"at (\" + asset.latitude + \",\" + asset.longitude + \")\";\nmsg.payload.destJid = msg.destJid;\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1700,"wires":[["35731a20.873b6e"]]},{"id":"81e1d842.d1dc28","type":"debug","z":"8bf99ba1.7384a8","name":"available_asset_list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":1760,"wires":[]},{"id":"849f8899.2db318","type":"change","z":"8bf99ba1.7384a8","name":"register token","rules":[{"t":"set","p":"OAS_access_token","pt":"global","to":"payload.body.access_token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["2ba12cd5.2daae4"]]},{"id":"e4f7534f.d637e","type":"comment","z":"8bf99ba1.7384a8","name":"when no position","info":"When no position is available msg.topic is an empty string therefore the sql node does not return any message so filtering the low part of the flow is automatic","x":2090,"y":1420,"wires":[]},{"id":"aee517bd.267a58","type":"Send_IM","z":"8bf99ba1.7384a8","server":"3c6b498c.2449ee","name":"no position response","destJid":"","x":2280,"y":1320,"wires":[]},{"id":"fc88a8db.411a5","type":"comment","z":"8bf99ba1.7384a8","name":"First we reset the datatables","info":"By doing that, we know our tables are updated.\nThe original idea was to update tables every once in a while, but it caused authentification issues so for the moment we update them every time the chatbot is used.","x":600,"y":100,"wires":[]},{"id":"303814ce.a7b6a4","type":"comment","z":"8bf99ba1.7384a8","name":"Connection to networkale","info":"We need to recover a token to be able to retrieve all the information we need from networkale.","x":250,"y":260,"wires":[]},{"id":"8bb8c963.71c658","type":"sqlite","z":"8bf99ba1.7384a8","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates floor info","x":2470,"y":340,"wires":[["9e8b13fe.68f4"]]},{"id":"f387abe9.c5541","type":"change","z":"8bf99ba1.7384a8","name":"prepare floor info update","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":340,"wires":[["8bb8c963.71c658"]]},{"id":"c2328543.8b76e","type":"function","z":"8bf99ba1.7384a8","name":"keep closest asset only","func":"var building = msg._dialogflow.parameters.fields.Building.stringValue;\nvar floor = msg._dialogflow.parameters.fields.Floor.stringValue;\nvar best_asset = msg.payload[0];\nvar sameFloor = false; // true if best_asset is at the same floor as the user\n// we search for an asset at the same building and same floor\nmsg.payload.forEach(asset => {\n    if (asset.building_name===building && ! sameFloor){\n        best_asset = asset;\n        if (asset.floor_name===floor){\n            sameFloor=true;\n        }\n    }\n});\nmsg.payload = best_asset;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1700,"wires":[["5327d0ea.399ae8"]]},{"id":"3c6b498c.2449ee","type":"Login","z":"","name":"chat test","host":"sandbox","autoLogin":true,"proxyHost":"","proxyPort":"","proxyProto":"","ackIM":false},{"id":"37fa3ed7.4d8162","type":"dialogflowv2-token","z":"","name":"assetTracking"},{"id":"8aa712e4.3b9af8","type":"sqlitedb","z":"","db":"D:/IMT/PROJET_S3/git_projet/omni_access_stellar_asset_tracking_chatbot/database/asset_tracking.sqlite","mode":"RWC"}]