asset_tracking.json
[{"id":"55fea016.edc5d","type":"tab","label":"asset_tracking","disabled":false,"info":""},{"id":"d34781e0.804f88","type":"Notified_IM","z":"55fea016.edc5d","server":"3c6b498c.2449ee","name":"Message notification","filter":"","filterContact":"","filterCompany":"","ignorechat":false,"ignoregroupchat":false,"x":130,"y":160,"wires":[["a4f8710b.5a55b8","75daa40.ac2cb5c"]]},{"id":"1fddb37e.596fed","type":"dialogflowv2","z":"55fea016.edc5d","dialogflow":"37fa3ed7.4d8162","language":"en","debug":true,"variable":"topic","x":400,"y":980,"wires":[["3cf40a0.8055476","5424aaa6.4fe43c"]]},{"id":"99a05b24.a93658","type":"Send_IM","z":"55fea016.edc5d","server":"3c6b498c.2449ee","name":"Response","destJid":"","x":690,"y":1860,"wires":[]},{"id":"ba4668b1.1a602","type":"change","z":"55fea016.edc5d","name":"Response from Tensorflow","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"_dialogflow.fulfillmentText","tot":"msg"},{"t":"set","p":"payload.destJid","pt":"msg","to":"destJid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1860,"wires":[["e0d4d967.16043"]]},{"id":"3cf40a0.8055476","type":"debug","z":"55fea016.edc5d","name":"dialogflow response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow","targetType":"msg","x":600,"y":1080,"wires":[]},{"id":"e0d4d967.16043","type":"debug","z":"55fea016.edc5d","name":"chatbot response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":1920,"wires":[]},{"id":"4ca13f5f.93b5c","type":"change","z":"55fea016.edc5d","name":"preparing dialogflow passage","rules":[{"t":"set","p":"payload","pt":"msg","to":"messageContent","tot":"flow"},{"t":"set","p":"destJid","pt":"msg","to":"destJid","tot":"flow"},{"t":"set","p":"_msgid","pt":"msg","to":"destJid","tot":"flow"},{"t":"set","p":"OAS_siteID","pt":"msg","to":"OAS_siteID","tot":"flow"},{"t":"set","p":"OAS_access_token","pt":"msg","to":"OAS_access_token","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":980,"wires":[["1fddb37e.596fed"]]},{"id":"2129bba3.9b1c04","type":"function","z":"55fea016.edc5d","name":"manage answer","func":"flow.OAS_siteID = msg.OAS_siteID;\nglobal.OAS_access_token = msg.OAS_access_token;\n//manage building and floor\nflow.building = msg._dialogflow.parameters.fields.Building.stringValue;\nflow.floor = msg._dialogflow.parameters.fields.Floor.stringValue;\n//manage entity recognition\n// following lines are for parameters requests but they doesn't work\n/*msg.params = {\n    $name:msg._dialogflow.parameters.fields.asset_type.stringValue\n};*/\nmsg.topic = \"SELECT id,mac_address FROM asset WHERE category='\" + msg._dialogflow.parameters.fields.asset_type.stringValue + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":1200,"wires":[["28b92b1.7f303d4","d002ec67.538b9"]]},{"id":"a4f8710b.5a55b8","type":"debug","z":"55fea016.edc5d","name":"notification content","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":60,"wires":[]},{"id":"ad898b79.7f9e","type":"debug","z":"55fea016.edc5d","name":"authentification result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":420,"wires":[]},{"id":"985b01f4.75a4","type":"authenticate","z":"55fea016.edc5d","name":"Authenticate","email":"lucas.charpentier@imt-atlantique.net","password":"Serez@78","appid":"5dcac9baeaa5b8329fbb5bad","appsecret":"7e3075854a1f4700800d3cdfb52557fa993d545c1dbd1522247c3009a1e8e73d","x":210,"y":340,"wires":[["ad898b79.7f9e","a9d26045.405ea"]]},{"id":"a9d26045.405ea","type":"function","z":"55fea016.edc5d","name":"set access token","func":"global.set(\"OAS_access_token\",msg.payload.body.access_token)\nreturn msg","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["b08f5ae8.d41998","a709fb53.b73a28"]]},{"id":"1f916b3f.7401f5","type":"debug","z":"55fea016.edc5d","name":"site obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":400,"wires":[]},{"id":"8c31eae.2058e98","type":"get_assetcategories","z":"55fea016.edc5d","name":"","x":1700,"y":500,"wires":[["78f0e3b7.859c7c","869dc93f.56ea4"]]},{"id":"4816064e.a07578","type":"function","z":"55fea016.edc5d","name":"find current site","func":"//flow.set(\"OAS_siteID\",msg.payload[0].id)\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":340,"wires":[["81da02df.0f819"]]},{"id":"78f0e3b7.859c7c","type":"debug","z":"55fea016.edc5d","name":"asset categories obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2130,"y":440,"wires":[]},{"id":"17d1ba0c.9a6e4e","type":"debug","z":"55fea016.edc5d","name":"building floor obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2080,"y":280,"wires":[]},{"id":"81da02df.0f819","type":"get_buildingsandfloors","z":"55fea016.edc5d","name":"","x":1700,"y":340,"wires":[["17d1ba0c.9a6e4e","62481d2.84c5464"]]},{"id":"636612ab.7f23f4","type":"get_allassets","z":"55fea016.edc5d","name":"","x":1670,"y":660,"wires":[["2ddb9add.1f6bee","7158e5c7.5153d4"]]},{"id":"2ddb9add.1f6bee","type":"debug","z":"55fea016.edc5d","name":"asset obtention result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2100,"y":600,"wires":[]},{"id":"4cfc3b6c.832a1c","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE site(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),type VARCHAR(255));","name":"create table site","x":880,"y":160,"wires":[["d3c43eff.9ba77"]]},{"id":"fc40c7da.7c304","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"insert site info","x":1160,"y":340,"wires":[["4816064e.a07578","fc66096a.bcd"]]},{"id":"b4dddfd9.4acd88","type":"function","z":"55fea016.edc5d","name":"prepare site info insertion","func":"flow.set(\"OAS_siteID\",msg.payload[0].id); // temporary line\nmsg.topic = \"INSERT INTO site(id,name,type) VALUES\";\nmsg.payload.forEach(site => {\n    msg.topic += \"('\" + site.id + \"','\" + site.name + \"','\" + site.type + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":340,"wires":[["fc40c7da.7c304","d21c36af.b1f138"]]},{"id":"d21c36af.b1f138","type":"debug","z":"55fea016.edc5d","name":"site update query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":1130,"y":420,"wires":[]},{"id":"fc66096a.bcd","type":"debug","z":"55fea016.edc5d","name":"site update result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1410,"y":420,"wires":[]},{"id":"62481d2.84c5464","type":"function","z":"55fea016.edc5d","name":"prepare buildings info update","func":"// First query (retrieves buildings)\nmsg.topic = \"INSERT INTO building(id,name,site) VALUES\";\nmsg.payload.forEach(building => {\n    msg.topic += \"('\" + building.id + \"','\" + building.name + \"','\" + building.site + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\n// Second query (retrieves floors)\nmsg.topic += \"INSERT INTO floor(id,name,building) VALUES\";\nmsg.payload.forEach(building => {\n    building.floors.forEach(floor => {\n        msg.topic += \"('\" + floor.id + \"','\" + floor.name + \"','\" + floor.building + \"'),\";\n    });\n})\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":2080,"y":340,"wires":[["3493df53.96c89"]]},{"id":"3493df53.96c89","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates building info","x":2520,"y":340,"wires":[["8c31eae.2058e98"]]},{"id":"869dc93f.56ea4","type":"function","z":"55fea016.edc5d","name":"prepare categories info update","func":"msg.topic = \"INSERT INTO asset_category(id,name,site) VALUES\";\nmsg.payload.forEach(category => {\n    msg.topic += \"('\" + category.id + \"','\" + category.name + \"','\" + category.site + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":500,"wires":[["69c0078a.5076c"]]},{"id":"69c0078a.5076c","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates category info","x":2520,"y":500,"wires":[["636612ab.7f23f4"]]},{"id":"7158e5c7.5153d4","type":"function","z":"55fea016.edc5d","name":"prepare asset info update","func":"msg.topic = \"INSERT INTO asset(id,name,site,category,mac_address) VALUES\";\nmsg.payload.forEach(asset => {\n    msg.topic += \"('\" + asset.id + \"','\" + asset.name + \"','\" + asset.site + \"','\" + asset.assetcategory.name + \"','\" + asset.tag.macAddress + \"'),\";\n});\nmsg.topic = msg.topic.slice(0,-1) + ';'; // replacing the last character of the query\nreturn msg;","outputs":1,"noerr":0,"x":2070,"y":660,"wires":[["cfad5052.ca97d8"]]},{"id":"cfad5052.ca97d8","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"","name":"updates asset info","x":2490,"y":660,"wires":[["4ca13f5f.93b5c"]]},{"id":"8dbe89b1.1747c","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE floor(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),building VARCHAR(255));","name":"create table floor","x":3210,"y":160,"wires":[["985b01f4.75a4"]]},{"id":"78acc66c.d8a57","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE asset(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),site VARCHAR(255),category VARCHAR(255),mac_address VARCHAR(255));","name":"create table asset","x":2310,"y":160,"wires":[["6459059.d91eb7c"]]},{"id":"29720153.be407e","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE asset_category(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),site VARCHAR(255),synonym VARCHAR(255));","name":"create table asset_category","x":1400,"y":160,"wires":[["68bf299a.8178b"]]},{"id":"83eeddc2.664fd8","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE building(id VARCHAR(255) PRIMARY KEY,name VARCHAR(255),site VARCHAR(255));","name":"create table building","x":2720,"y":160,"wires":[["1e9d2060.5395"]]},{"id":"75daa40.ac2cb5c","type":"change","z":"55fea016.edc5d","name":"register user id and content","rules":[{"t":"set","p":"destJid","pt":"flow","to":"payload.fromJid","tot":"msg"},{"t":"set","p":"messageContent","pt":"flow","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[["3f160e65.70ad8a"]]},{"id":"28b92b1.7f303d4","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"msg.topic","sql":"SELECT name FROM asset_category","name":"list mac address","x":1390,"y":1200,"wires":[["343e2fc7.a14df","5ba45365.403d84"]]},{"id":"a0944c18.e7c7a8","type":"latest_locationofasset","z":"55fea016.edc5d","name":"","x":1320,"y":1420,"wires":[["3ba84579.9efe52","a03f8d87.84cff"]]},{"id":"f452b396.d681b","type":"function","z":"55fea016.edc5d","name":"mac address configuration","func":"flow.OAS_siteID = msg.OAS_siteID;\nglobal.OAS_access_token = msg.OAS_access_token;\n// config for position getter\nmsg.macAddress = msg.assets[msg.iteration].mac_address;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1420,"wires":[["a0944c18.e7c7a8"]]},{"id":"343e2fc7.a14df","type":"change","z":"55fea016.edc5d","name":"initialize loop","rules":[{"t":"set","p":"assets","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"iteration","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1200,"wires":[["b32731df.03cbb8","e3fd36c6.01463","d96aa632.a7072"]]},{"id":"b32731df.03cbb8","type":"function","z":"55fea016.edc5d","name":"for loop","func":"if (typeof msg.assets !=\"undefined\" && msg.assets.length!==0){\n    if (msg.iteration < msg.assets.length) {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":1840,"y":1300,"wires":[["f452b396.d681b"]]},{"id":"e548ba92.3ab1b8","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"CREATE TABLE position(asset_id VARCHAR(255) PRIMARY KEY,position VARCHAR(255));","name":"create table position","x":1900,"y":160,"wires":[["58c57c55.2b72dc"]]},{"id":"3ba84579.9efe52","type":"function","z":"55fea016.edc5d","name":"position insertion preparation","func":"msg.params = {\n    $pos:msg.payload,\n    $asset:msg.assets[msg.iteration].id\n};\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":1420,"wires":[["dff3c970.96b948"]]},{"id":"dff3c970.96b948","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"prepared","sql":"INSERT INTO position(asset_id,position) VALUES($asset,$pos);","name":"position insertion","x":1850,"y":1420,"wires":[["8ff3ecef.95fa3"]]},{"id":"bbe2bdf3.a75fe","type":"function","z":"55fea016.edc5d","name":"loop breaker","func":"if (msg.iteration===msg.assets.length) {\n    return msg;\n}","outputs":1,"noerr":0,"x":2370,"y":1420,"wires":[["b9b4f21d.31f32"]]},{"id":"b9b4f21d.31f32","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"SELECT a.name,p.position FROM position AS p JOIN asset AS a ON p.asset_id=a.id ;","name":"sorting assets (not finished)","x":420,"y":1620,"wires":[["e91be92a.4b3858","d1f372dd.70ab4"]]},{"id":"e91be92a.4b3858","type":"change","z":"55fea016.edc5d","name":"keep closest asset only","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1620,"wires":[["ba4668b1.1a602","6b4f7c81.b02734"]]},{"id":"6b4f7c81.b02734","type":"function","z":"55fea016.edc5d","name":"Description of object","func":"var name = msg.payload.name;\nvar position = msg.payload.position;\nmsg.payload.content = \"The object is \" + name + \" and is located at \" + position;\nmsg.payload.destJid = msg.destJid;\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1620,"wires":[["e67eb492.c2151","e0afb966.27c35"]]},{"id":"e67eb492.c2151","type":"Send_IM","z":"55fea016.edc5d","server":"3c6b498c.2449ee","name":"Response description","destJid":"","x":1460,"y":1620,"wires":[]},{"id":"b08f5ae8.d41998","type":"debug","z":"55fea016.edc5d","name":"access token message output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":480,"wires":[]},{"id":"af6eea13.94d9a8","type":"comment","z":"55fea016.edc5d","name":"future","info":"Here we will add the entities into dialogflow in the future","x":710,"y":640,"wires":[]},{"id":"3f160e65.70ad8a","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS site;","name":"reset table site","x":680,"y":160,"wires":[["4cfc3b6c.832a1c"]]},{"id":"d3c43eff.9ba77","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS asset_category;","name":"reset table asset_category","x":1120,"y":160,"wires":[["29720153.be407e"]]},{"id":"68bf299a.8178b","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS position;","name":"reset table position","x":1670,"y":160,"wires":[["e548ba92.3ab1b8"]]},{"id":"58c57c55.2b72dc","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS asset;","name":"reset table asset","x":2110,"y":160,"wires":[["78acc66c.d8a57"]]},{"id":"6459059.d91eb7c","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS building;","name":"reset table buliding","x":2510,"y":160,"wires":[["83eeddc2.664fd8"]]},{"id":"1e9d2060.5395","type":"sqlite","z":"55fea016.edc5d","mydb":"8aa712e4.3b9af8","sqlquery":"fixed","sql":"DROP TABLE IF EXISTS floor;","name":"reset table floor","x":2960,"y":160,"wires":[["8dbe89b1.1747c"]]},{"id":"5424aaa6.4fe43c","type":"function","z":"55fea016.edc5d","name":"recover answer","func":"// set content of the answer in the flow to retrieve it later\nmsg.payload = {};\nmsg.payload.content=msg._dialogflow.fulfillmentText;\nmsg.payload.destJid=msg.destJid;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":980,"wires":[["e089d9d7.789318","e6d0e780.112ca"]]},{"id":"e089d9d7.789318","type":"function","z":"55fea016.edc5d","name":"filter answer complete","func":"if (msg._dialogflow.intent.displayName===\"Tracking_asset_intent\" && msg._dialogflow.allRequiredParamsPresent) {\n    return msg;\n}","outputs":1,"noerr":0,"x":930,"y":1200,"wires":[["2129bba3.9b1c04"]]},{"id":"e6d0e780.112ca","type":"function","z":"55fea016.edc5d","name":"filter answer uncomplete","func":"if (msg._dialogflow.intent.displayName!==\"Tracking_asset_intent\" || msg._dialogflow.allRequiredParamsPresent===false) {\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":980,"wires":[["503771b5.76897","435d983d.b1f9b"]]},{"id":"435d983d.b1f9b","type":"Send_IM","z":"55fea016.edc5d","server":"3c6b498c.2449ee","name":"Response uncomplete","destJid":"","x":1260,"y":980,"wires":[]},{"id":"503771b5.76897","type":"debug","z":"55fea016.edc5d","name":"chatbot uncomplete full response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1300,"y":920,"wires":[]},{"id":"5ba45365.403d84","type":"debug","z":"55fea016.edc5d","name":"mac address output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":1120,"wires":[]},{"id":"14eb8b7c.2df005","type":"comment","z":"55fea016.edc5d","name":"changes to make","info":"During tests it's better to update everything at every notification, in the future it will be updated periodicly","x":550,"y":100,"wires":[]},{"id":"a709fb53.b73a28","type":"get_sites","z":"55fea016.edc5d","name":"Site recuperation","x":670,"y":340,"wires":[["b4dddfd9.4acd88","1f916b3f.7401f5"]]},{"id":"e3fd36c6.01463","type":"function","z":"55fea016.edc5d","name":"Filter when no mac_addresses","func":"if (typeof msg.assets ==\"undefined\" || msg.assets.length===0){\n    return msg;\n}","outputs":1,"noerr":0,"x":1960,"y":1200,"wires":[["e89551b8.b252c8"]]},{"id":"e89551b8.b252c8","type":"change","z":"55fea016.edc5d","name":"initialise response no item","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"Sorry, no item of this category is available.","tot":"str"},{"t":"set","p":"payload.destJid","pt":"msg","to":"destJid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1200,"wires":[["bb5504e.e92a278","70ea30d1.2dbbd8"]]},{"id":"bb5504e.e92a278","type":"Send_IM","z":"55fea016.edc5d","server":"3c6b498c.2449ee","name":"Response  no item","destJid":"","x":2580,"y":1200,"wires":[]},{"id":"70ea30d1.2dbbd8","type":"debug","z":"55fea016.edc5d","name":"chatbot no item full response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2610,"y":1120,"wires":[]},{"id":"d002ec67.538b9","type":"debug","z":"55fea016.edc5d","name":"mac adress query preparation","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","targetType":"msg","x":1440,"y":1280,"wires":[]},{"id":"a03f8d87.84cff","type":"debug","z":"55fea016.edc5d","name":"location retrieval","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1540,"y":1480,"wires":[]},{"id":"d96aa632.a7072","type":"debug","z":"55fea016.edc5d","name":"before for loop msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2050,"y":1260,"wires":[]},{"id":"8ff3ecef.95fa3","type":"function","z":"55fea016.edc5d","name":"for increment","func":"msg.iteration = msg.iteration + 1;\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1420,"wires":[["bbe2bdf3.a75fe","b32731df.03cbb8"]]},{"id":"d1f372dd.70ab4","type":"debug","z":"55fea016.edc5d","name":"available_asset_list","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1680,"wires":[]},{"id":"3db123d5.68fa54","type":"comment","z":"55fea016.edc5d","name":"todo","info":"here we should filter tensorflow response and replace unknown terms by the asset location","x":690,"y":1800,"wires":[]},{"id":"e0afb966.27c35","type":"debug","z":"55fea016.edc5d","name":"object description","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1450,"y":1760,"wires":[]},{"id":"3c6b498c.2449ee","type":"Login","z":"","name":"chat test","host":"sandbox","autoLogin":true,"proxyHost":"","proxyPort":"","proxyProto":"","ackIM":false},{"id":"37fa3ed7.4d8162","type":"dialogflowv2-token","z":"","name":"assetTracking"},{"id":"8aa712e4.3b9af8","type":"sqlitedb","z":"","db":"D:/IMT/PROJET_S3/git_projet/omni_access_stellar_asset_tracking_chatbot/database/asset_tracking.sqlite","mode":"RWC"}]