flows APIv0.1-tests.json
[{"id":"ab892a73.fa5ab8","type":"tab","label":"Main","disabled":false,"info":""},{"id":"2de5a3a8.debd0c","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"595c59ad.a2c258","type":"Login","z":"","name":"User","host":"sandbox","autoLogin":true,"proxyHost":"","proxyPort":"","proxyProto":"","ackIM":false},{"id":"9d00f45e.e14cb8","type":"dialogflowv2-token","z":"","name":"Bot_NLP"},{"id":"9821e33a.b804c","type":"Notified_IM","z":"ab892a73.fa5ab8","server":"595c59ad.a2c258","name":"Message notification","filter":"","filterContact":"","filterCompany":"","ignorechat":false,"ignoregroupchat":false,"x":90,"y":240,"wires":[["31655970.581ab6","669c1a3.1d9c0e4","f02899c4.33d978"]]},{"id":"b9c98880.e85e48","type":"dialogflowv2","z":"ab892a73.fa5ab8","dialogflow":"9d00f45e.e14cb8","language":"en","debug":true,"variable":"topic","x":500,"y":140,"wires":[["db093963.7ecac8","8544a28.da09a6"]]},{"id":"a25abcf4.b25f","type":"Send_IM","z":"ab892a73.fa5ab8","server":"595c59ad.a2c258","name":"Response","destJid":"","x":1000,"y":240,"wires":[]},{"id":"e3700c11.8dc15","type":"change","z":"ab892a73.fa5ab8","name":"","rules":[{"t":"set","p":"payload.content","pt":"msg","to":"answer","tot":"flow"},{"t":"set","p":"payload.destJid","pt":"msg","to":"payload.fromJid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["a25abcf4.b25f","18c64d9e.3f1082"]]},{"id":"db093963.7ecac8","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"_dialogflow","targetType":"msg","x":740,"y":100,"wires":[]},{"id":"18c64d9e.3f1082","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":140,"wires":[]},{"id":"31655970.581ab6","type":"change","z":"ab892a73.fa5ab8","name":"","rules":[{"t":"set","p":"_msgid","pt":"msg","to":"payload.fromJid","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":140,"wires":[["b9c98880.e85e48"]]},{"id":"8544a28.da09a6","type":"function","z":"ab892a73.fa5ab8","name":"","func":"flow.set(\"answer\",msg._dialogflow.fulfillmentText)\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[[]]},{"id":"669c1a3.1d9c0e4","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":360,"wires":[]},{"id":"f02899c4.33d978","type":"delay","z":"ab892a73.fa5ab8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":240,"wires":[["e3700c11.8dc15"]]},{"id":"c9296551.260c98","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":600,"wires":[]},{"id":"a99838f2.590af8","type":"inject","z":"ab892a73.fa5ab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"18000","crontab":"","once":true,"onceDelay":"1","x":110,"y":560,"wires":[["45c603d.9cdc7fc","1b163d83.17fcb2","bf3cf640.a1e3a8"]]},{"id":"45c603d.9cdc7fc","type":"http request","z":"ab892a73.fa5ab8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://ghibliapi.herokuapp.com/films","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":600,"wires":[["c9296551.260c98"]]},{"id":"1b163d83.17fcb2","type":"track_asset","z":"ab892a73.fa5ab8","name":"","appurl":"","x":290,"y":560,"wires":[["a78f550f.9355e8"]]},{"id":"a78f550f.9355e8","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":560,"wires":[]},{"id":"9747b7c7.fd1608","type":"inject","z":"ab892a73.fa5ab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":130,"y":720,"wires":[["30d700d4.7f98"]]},{"id":"4b2fa97c.aac198","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":660,"wires":[]},{"id":"30d700d4.7f98","type":"authenticate","z":"ab892a73.fa5ab8","name":"Authenticate","email":"lucas.charpentier@imt-atlantique.net","password":"Serez@78","appid":"5dcac9baeaa5b8329fbb5bad","appsecret":"","x":290,"y":720,"wires":[["4b2fa97c.aac198","1ac2e601.41ef2a"]]},{"id":"1ac2e601.41ef2a","type":"function","z":"ab892a73.fa5ab8","name":"","func":"global.set(\"OAS_access_token\",msg.payload.body.access_token)","outputs":0,"noerr":0,"x":430,"y":720,"wires":[]},{"id":"bf3cf640.a1e3a8","type":"get_site","z":"ab892a73.fa5ab8","name":"","x":300,"y":520,"wires":[["3328a18e.5c8cee"]]},{"id":"3328a18e.5c8cee","type":"debug","z":"ab892a73.fa5ab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":520,"wires":[]}]